@charset "UTF-8";

/* CONFIGURAÇÃO DE MOBILE FIRST */

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100vh;
}

body{
    background-color: lightgray;
}

header{
    background-color: rgb(131, 131, 131);
}

i#burguer{
    display: block;
    text-align: center;
    padding: 2%;
    border: 1px solid rgb(159, 159, 159);
}

i#burguer:hover{
    background-color: rgb(165, 165, 165);
    cursor: pointer;
}

header > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(37, 37, 37, 0.366);
    padding: 2%;
}

menu{
    
    display: none;
    text-align: center;
}

menu > ul > li{
    background-color: rgb(131, 131, 131);
    padding: 3%;
    border: 1px solid rgb(159, 159, 159);
}

menu > ul > li > a{
    color: black;
    text-decoration: none;
}

menu > ul > li:hover{
    background-color: rgb(165, 165, 165);
}


article{
    background-color: white;
    width: 95vw;
    border-radius: 5px;
    margin: auto;
    margin-top: 2%;
    padding: 4%;
}

article > p{
    margin-top: 5%;
    text-indent: 30px;
    text-align: justify;
}
