body{

    height: 100vh;
    /* background-color: black;
    background-image: url('../imagens/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    

    background: black url('../imagens/wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover;


    /* SHORTHAN DE BACKGROUND */

    /* 
        color > image > position > repeat > [size] > attachtment

    * O [size] NÃO FUNCIONA NA SHORTHAND / DECLARAR SEPARADO
    */
}



.quadrado{
    width: 90%;
    height: 300px;
    background-color: rgb(188, 188, 188);

    border: 2px solid black;
    border-radius: 10px;
    margin: 30px auto;
}